body {
    background-color: #6EA171;
}

.wethepeople {
    font-family: cursive;
    font-size: 20pt;
    text-shadow: 1px 2px 1px pink;
}

h1 {
     font-family: sans-serif;
     font-weight: bold;
     color: navy;
     text-shadow: 1px 2px 1px pink;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
    color: navy;
}
